body{

    margin: 0 auto;
    margin-top: 35px;
    padding: 0;
    width: 90%;
    justify-content: center;
    background-image: url(images/image1\ room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container{
    background-color: #999;
    width: 100%;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0.94;
}
.containerL{
    background-color: #999;
    width: 100%;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
}
.card1{
    background-color: rebeccapurple;
    display: inline-block;
    padding: 20px 40px;
    margin: 0px auto;
    margin-top: 10px;
    border: 2px solid maroon;
    border-radius: 10px;
}
.card2{
    background-color: rebeccapurple;
    display: inline-block;
    padding: 20px 40px;
    margin: 0px auto;
    margin-top: 10px;
    border: 2px solid maroon;
    border-radius: 10px;
}
.card3{
    background-color: rgb(102, 51, 153);
    display: inline-block;
    padding: 20px 40px;
    margin: 0px auto;
    margin-top: 10px;
    border: 2px solid maroon;
    border-radius: 10px;
}

.card1:hover, .card2:hover, .card3:hover{
    background-color: rgb(78, 38, 120);
}


.About{
    margin-top: 20px;
    background-color: aquamarine;
    padding-bottom: 50px;
    
}

.About h1{
    padding-top: 20px;
    
}

.Best{
    background-color: bisque;
    display: inline-block;
    padding: 50px 20px;
    border: 2px solid black;
    border-radius: 15px 5px 15px 5px;
    /* justify-content: center; */
    margin: 25px;
    width: 20%;
    height: 15%;
}